# Data Science Tools and Ecosystem

## Author:
Syed Jazil Arfin

## In this notebook, Data Science Tools and Ecosystem are summarized.

### **Objectives:**
<ul>
    <li>List popular languages for Data Science</li>
    <li>Create a markdown cell with the title of the notebook</li>
    <li>Create a markdown cell for an introduction.</li> 
</ul>

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala

### Some of the commonly used libraries used by Data Scientists include:
1. matplotlib
2. numpy
3. pandas

| DataScience Tools |
| :- |
| Rstudio |
| Jupyter Lab |
| VS Code(with python) |

### Below are a few examples of evaluating arithmetic expressions in Python
1. print(5 + 3)
2. print(10 - 4)      
3. print(6 * 7)       
4. print(20 / 5)      
5. print(20 // 5)     
6. print(17 % 5)
7. print(2 ** 3)

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = 200/60
print(hours)

3.3333333333333335